{% set menu = theme_var('main_menu') %}
{% if menu %}
    {% for item in menu %}
        <div class="relative">                    
        <button type="button" class="flyout-button inline-flex items-center gap-x-1 text-md font-semibold leading-6 text-gray-900" aria-expanded="false">
                <span>{{ item.title }}</span>
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                </svg>
            </button>
            
            {% if item.children %}
                <div class="hidden flyout-dropdown absolute left-1/2 z-10 mt-5 flex w-screen max-w-min -translate-x-1/2 px-4 opacity-0 translate-y-1">
                    <div class="w-56 shrink rounded-xl bg-white p-4 text-md font-semibold leading-6 text-gray-900 shadow-lg ring-1 ring-gray-900/5">
                    {% for child in item.children %}
                        <a href="{{ base_url }}{{ child.url }}"
                           {% if child.target is defined and child.target is not empty %}target="{{ child.target }}"{% endif %}
                           class="block p-2 hover:text-indigo-600">
                            {{ child.title }}
                        </a>
                    {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}
